# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - name: LTS
            version: 'lts/*'
          - name: Previous LTS
            version: 'lts/-1'
          - name: Current
            version: current
    name: Build and test (Node ${{ matrix.node.name }})
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@3979e6120a77babddec6e34f9008f4ed8d611c61
        with:
          node-version: ${{ matrix.node.version }}
