name: Pre-release Testing

on:
  push:
    tags:
      - "*"

permissions: read-all

jobs:
  prepare-release:
    name: Prepeare Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@65a2ad38ee88c348c96631c7afa0f940975d020a
        with:
          node-version: lts/*

      - name: Create a release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
